<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form #ResetForm="ngForm">
                <div class="form-group  mt-5">
                    <div class="card">
                        <div class="card-header">
                            <h2>Reset Password</h2>
                            <ng-template [ngIf]="error">
                                <div style="color: red;">Username or password is invalid !
                                </div>
                            </ng-template>
                        </div>
                        <div class="card-body">
                            <input class="form-control" type="text" name="UserName" #FirstName="ngModel"
                                [(ngModel)]="userReset.userName" placeholder="Username">

                            <input class="form-control mt-3" type="password" name="Password" id="lnm"
                                #LastName="ngModel" [(ngModel)]="userReset.userPassword" placeholder=" Old Password">

                            <input class="form-control mt-3" type="password" name="Lastname" id="lnmm"
                                #LastName="ngModel" [(ngModel)]="userReset.userNewPassword" placeholder=" New Password">
                        </div>
                        <div class="card-footer">

                            <div class="row lk">
                                <button type="submit" class="btn btn-success btn-md ml-3 "
                                    (click)="ResetUserPassword(ResetForm)">Reset Password</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>